<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ShowServlet</servlet-name>
        <servlet-class>ShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUserServlet</servlet-name>
        <servlet-class>LoginUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>free</servlet-name>
        <servlet-class>free</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Calender</servlet-name>
        <servlet-class>Calender</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRecord</servlet-name>
        <servlet-class>AddRecord</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowServlet</servlet-name>
        <url-pattern>/Show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUserServlet</servlet-name>
        <url-pattern>/LoginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>free</servlet-name>
        <url-pattern>/free</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Calender</servlet-name>
        <url-pattern>/Calender</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRecord</servlet-name>
        <url-pattern>/AddRecord</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
</web-app>
